---
layout: "default"
title : "Blog"
---
{% include JB/setup %}
<div id="main">
 <div id="content">
 {% assign posts_list = site.posts %}
 {% include custom/post_list %} 
 </div>
 <div id="sidebar">
    <div id="case-studies">
      <h2>Previous Posts</h2>
      {% assign posts_collate = site.posts %}
      {% include JB/posts_collate %}
    </div>
    <div id="Categories">
      <h2>Categories</h2>
      {% assign categories_list = site.categories %}
      {% include JB/categories_list %}
    </div>
  </div>
</div>