<ul id="nav-pages">
 
  <li><a href="/index.html" 
    {% if page.url == "/index.html" %}
class="active"{% endif %}
   >Home</a><span>/</span></li>
  <li><a href="/curriculum/" 
  {% if page.url == "/curriculum/index.html" %}
class="active"{% endif %}
  >Curriculum</a><span>/</span></li>
  <li><a href="/blog/"
  {% if page.url == "/blog/index.html" || page.categories[0] != "" %}
class="active"{% endif %}
  >Blog</a><span>/</span></li>
  <li><a href="/contact.html" {% if page.url == "/contact.html" %} class="active"{% endif %}>Contact</a></li>
</ul>